body{
    background-color: #f9f9f9;
    min-height: 590px;
}
section{
    width: 854px;
    min-height: 500px;
    margin: 180px auto 30px;
    padding: 0 68px;
    background-color: white;
}
.log{
    text-align: center;
    margin-bottom: 40px;
}
.log i{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../img/milogo.png");
}
.title{
    text-align: center;
    margin-bottom: 35px;
}
.title h2{
    font-size: 30px;
    font-weight: normal;
}
.warp{
    width: 332px;
}
.area{
    width: 330px;
    height: 40px;
    position: relative;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
    color: #555;
    font-size: 12px;
    line-height: 40px;
    margin-bottom: 15px;
}
.area:hover{
    cursor: pointer;
}
.area i{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 11px;
    top: calc(50% - 8px);
    padding-left: 11px;
    border-left: 1px solid #e8e8e8;
    background: url("../img/icon_user.png") 10px 0 no-repeat;
}
.areaSelect{
    position: absolute;
    left: -1px;
    top: 40px;
    width: 330px;
    height: 270px;
    background-color: white;
    z-index: 10;
    overflow: auto;
}
.areaSelect.hid{
    display: none;
}
.areaSelect ul>li{
    width: 313px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-top: none;
    cursor: pointer;
    padding: 0 10px;
}
.areaSelect ul>li:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.areaSelect ul>li:hover{
    background-color: #eaeaea;
}
.areaSelect ul>li span{
    line-height: 40px;
    font-size: 12px;
}
.areaSelect ul>li span:nth-of-type(1){
    float: left;
    color: #000;
}
.areaSelect ul>li span:nth-of-type(2){
    float: right;
    color: #9d9d9d;
}
.data{
    margin-bottom: 10px;
}
.data form input{
    height: 40px;
    padding-left: 10px;
    outline: none;
    width: 323px;
    margin-bottom: 15px;
    line-height: 48px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,0.1);
}
.data form input:nth-of-type(1){
    width: 318px;
}
.data form input:nth-of-type(2n){
    width: 190px;
}
#yz{
    display: inline-block;
    margin-left: 10px;
    color: saddlebrown;
    width: 115px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 25px;
    font-weight: 600;
    vertical-align: middle;
    -webkit-user-select: none;
}
#yz span{
    display: inline-block;
}
#yz:hover{
    cursor: pointer;
}
.error{
    font-size: 14px;
    color: #f56600;
    margin-bottom: 5px;
}
.error span{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
    color: white;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    background-color: #f56600;
    border-radius: 50%;
}
.data form input[type="submit"]{
    width: 330px;
    background-color: #f56600;
    color: white;
    border: none;
    outline: none;
    line-height: 40px;
    font-size: 18px;
}
.explain{
    font-size: 12px;
    color: #757575;
}
.explain a{
    font-weight: 600;
}
/*页脚*/
footer{
    width: 854px;
    min-height: 81px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 427px);
    text-align: center;
}
footer div:nth-of-type(1),footer div:nth-of-type(2){
    text-align: center;
}
footer div:nth-of-type(1) a{
    display: inline-block;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #757575;
    color: #757575;
    font-size: 10px;
    line-height: 10px;
}
footer div:nth-of-type(1) a:last-of-type{
    border: none;
}
footer div:nth-of-type(1) a:hover{
    color: #333;
}
footer div:nth-of-type(1) a.active{
    color: #333;
}
footer div:nth-of-type(2){
    margin: 10px 0 30px;
    font-size: 0;
}
footer div:nth-of-type(2) a,footer div:nth-of-type(2) span{
    vertical-align: bottom;
    color: #757575;
    font-size: 12px;
}